{% extends 'base.html' %} {% block content %}

<h2>create.html</h2>
<hr>

<div class="mb-3 mx-3">
    <label for="exampleFormControlInput1" class="form-label">ddadadadad</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="리뷰제목">
</div>
<div class="mb-3 mx-3">
    <label for="exampleFormControlTextarea1" class="form-label">Eczxfewtr</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="리뷰내용"></textarea>
</div>
<div class="mb-3 mx-3">
    <label for="exampleFormControlInput1" class="form-label">ddadadadad</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="영화제목">
</div>
<!-- 영화 평점은 별로 주고싶음 ㅠㅠ -->
<div class="mb-3 mx-3">  
    <label for="exampleFormControlInput1" class="form-label">ddadadadad</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="평점">
</div>

<hr>
{% endblock %}
