{% extends 'base.html' %}
{% block content %}
  <div class="container my-5">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>PK</th>
          <th>Review Title</th>
          <th>Content</th>
          <th>Movie Title</th>
        </tr>
      </thead>
      <tbody class="bg-warning">
        {% for review in reviews %}
        <tr>
          <td>{{ review.pk }}</td>
          <td>
            <a class="text-decoration-none" href="{% url 'reviews:detail' review.pk %}">
            {{ review.title }}
            </a>
          </td>
          <td>{{ review.content }}</td>
          <td>{{ review.movie_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
