{% extends 'base.html' %} {% block content %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="container">
    <h1>여기는 업뎃</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form review_form %}
    
        {% comment %} {{ movie_form.as_p }} {% endcomment %}
       <div class='d-flex justify-content-end'>
           <a class="btn btn-outline-primary mx-3" href="{% url 'reviews:reviews' %}">Home</a>
           <input class="btn btn-outline-primary " type="submit" value='Submit'>
        </div>
    </form>

</div>
{% endblock %}
